
<style>
	p{
		line-height: 3;
	}
</style>


	<div class="panel-heading">后台信息</div>
	<div class="panel-body" style="padding: 30px 0;">
		<div style="width: 45%; margin-left: 5%; float: left;">
			<p>
				<strong>后台网址：</strong>
				<span>{{.backGround.BackUrl}}</span>
			</p>
			<p>
				<strong>后台账号：</strong>
				<span>{{.backGround.BackAccount}}</span>
			</p>
			<p>
				<strong>渠&nbsp;道&nbsp;号：</strong>
				<span>{{.backGround.FromNum}}</span>
			</p>
		</div>
		<div style="width: 45%; margin-left: 5%; float: left;">
			<p>&nbsp;</p>
			<p>
				<strong>后台密码：</strong>
				<span>{{.backGround.BackPwd}}</span>
			</p>
			<p>&nbsp;</p>
		</div>
	</div>






























