
<style>
	p{
		line-height: 3;
	}
</style>


	<div class="panel-heading">开票信息</div>
	<div class="panel-body" style="padding: 30px 0;">
		<div style="width: 45%; margin-left: 5%; float: left;">
			<p>
				<strong>公司名称：</strong>
				<span>{{.bilInfor.CompanyName}}</span>
			</p>
			<p>
				<strong>公司地址：</strong>
				<span>{{.bilInfor.CompanyAddress}}</span>
			</p>
			<p>
				<strong>税&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</strong>
				<span>{{.bilInfor.TaxNumber}}</span>
			</p>
			<p>
				<strong>开&nbsp;户&nbsp;行：</strong>
				<span>{{.bilInfor.AccountBank}}</span>
			</p>
		</div>
		<div style="width: 45%; margin-left: 5%; float: left;">
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>
				<strong>银行账号：</strong>
				<span>{{.bilInfor.BackAccount}}</span>
			</p>
		</div>
	</div>






























