
    <style>

        #searchForm{
            position: relative;
        }

        #product_name{
            width: 250px;
            height: 35px;
            text-indent: 5px;
        }

        .xl{
            width: 250px;
            overflow: text;
            border: #ccc solid 1px;
            border-top: none;
            position: absolute;
            z-index: 100;
            top: 35px;
            left: 0px;
            padding: 0;
            display: none;
        }

        .xl li {
            line-height: 30px;
            cursor: pointer;
            padding-left: 10px;
            background: #fff;
            color: #666;
        }

        .xl li:hover {
            background: #ccc;
            color: maroon;
        }
        .nav {
            margin-bottom: 20px;
            overflow: hidden;
        }
        
        .nav .nav_user {
            float: left;
        }
        
        .nav .nav_time {
            float: right;
            margin-top: 10px;
        }
        
        .nav .nav_user li {
            float: left;
            padding: 0 20px;
            height: 40px;
            line-height: 40px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
        }
        
        .nav .nav_user li.state {
            border-color: #599ef4 !important;
            color: #fff;
            background: #599ef4;
        }
        
        .nav .nav_time li {
            float: left;
            padding: 0 20px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
        }
        
        .nav .nav_time li.state {
            border-color: #599ef4 !important;
            color: #fff;
            background: #599ef4;
        }
    </style>

    <div class="panel" id="abc">
        <div class="panel-heading" style="padding-bottom: 50px;">
            <strong class="pull-left" style="line-height: 35px;">各渠道数据对比</strong>
            <form class="pull-right form-inline">
                <input name="startTime1" id="startDate1" class="Wdate input-small form-control" value="" type="text" onFocus="var endDate=$dp.$('endDate');WdatePicker({dateFmt:'yyyy-MM-dd',
                           onpicked:function(){endDate.focus();},maxDate:'#F{$dp.$D(\'endDate1\')}'})" />&nbsp;&nbsp;-&nbsp;
                <input name="endTime1" id="endDate1" class="Wdate input-small form-control" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startDate1\')}'})" value="" />
                <input type="button" value="确认" class="btn btn-info" id="timeConfirm1">
            </form>
        </div>
        <div class="panel-body">
            <div class="panel-body">
                <div class="nav">
                    <ul class="nav_user" id="userTab">
                        <li class="state">注册用户</li>
                        <li>激活用户</li>
                        <li>注册-激活转化率</li>
                        <li>人均注册平台数</li>
                    </ul>
                    <!-- <ul class="nav_time" id="timeTab">
                        <li class="state">日</li>
                        <li>周</li>
                    </ul> -->
                </div>
                <div id="bar" style="width: 100%; height:550px;"></div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading" style="padding-bottom: 50px;">
            <strong class="pull-left" style="line-height: 35px;">平台数据明细</strong>
            <form class="pull-right form-inline" id="searchForm">
                <input name="product_name" id="product_name" class="form-control" style="width: 250px;" placeholder="请输入渠道名称" value="{{.name}}" autocomplete="off">
                <ul class="xl"> </ul>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <input name="startTime2" id="startDate2" class="Wdate input-small form-control" value="" type="text" onFocus="var endDate=$dp.$('endDate');WdatePicker({dateFmt:'yyyy-MM-dd',
                           onpicked:function(){endDate.focus();},maxDate:'#F{$dp.$D(\'endDate2\')}'})" />&nbsp;&nbsp;-&nbsp;
                <input name="endTime2" id="endDate2" class="Wdate input-small form-control" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startDate2\')}'})" value="" />
                <input type="button" value="确认" class="btn btn-info" id="timeConfirm2">
            </form>
        </div>
        <div class="panel-body">
            <div class="nav">
                <ul class="nav_user" id="pass_rate">
                    <li class="state">注册用户</li>
                    <li>激活用户</li>
                    <li>注册-激活转化率</li>
                    <li>点击-注册转化率</li>
                    <li>人均注册平台数</li>
                </ul>
            </div>
            <div id="line" style="width: 100%; height:550px;"></div>
        </div>
    </div>




<script type="text/javascript">

    // var dd = new Date();
    // var y = dd.getFullYear();
    // var m = (dd.getMonth() + 1) < 10 ? "0" + (dd.getMonth() + 1) : (dd.getMonth() + 1);
    // var mm = dd.getMonth() < 10 ? "0" + dd.getMonth() : dd.getMonth();
    // var d = dd.getDate() < 10 ? "0" + dd.getDate() : dd.getDate();
    // var prevDate = y + "-" + mm + "-" + d; //上一个月时间
    // var currentDate = y + "-" + m + "-" + d; //当前月时间


    var nowDate=new Date()
    var days=new Date(nowDate.getFullYear(),nowDate.getMonth()+1,0)
    var currentDate=getNowFormatDate();
    var prevDate=addDate(nowDate,-days.getDate());

    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
        return currentdate;
    }
    function addDate(date,days){
        var d=new Date(date);
        d.setDate(d.getDate()+days);
        var month=d.getMonth()+1;
        var day = d.getDate();
        if(month<10){
            month = "0"+month;
        }
        if(day<10){
            day = "0"+day;
        }
        var val = d.getFullYear()+"-"+month+"-"+day;
        return val;
    }


    //各渠道数据对比
    //默认时间
    $('#startDate1').val(prevDate);
    $('#endDate1').val(currentDate);

    var startDate1 = prevDate;
    var endDate1 = currentDate;
    var code1 = 1;
    var data_name = [];
    var data_data1 = [];


    //时间改变赋值
    $('#startDate1').on('blur', function() {
        startDate1 = $(this).val();
    });

    $('#endDate1').on('blur', function() {
        endDate1 = $(this).val();
    });

    postData(startDate1, endDate1, code1);

    //数据类型点击Tab切换
    $("#userTab li").off().on("click", function() {
        $(this).addClass('state').siblings().removeClass('state');
        code1 = $(this).index() + 1;
        postData(startDate1, endDate1, code1);
    });


    //日周统计Tab切换
    $("#timeTab li").off().on("click", function() {
        $(this).addClass('state').siblings().removeClass('state');
    });

    //起始，终止时间段数据获取
    $("#timeConfirm1").off().on("click", function() {
        postData(startDate1, endDate1, code1);
    });


    //AJAX数据请求函数(各平台数据对比)
    function postData(startD, stopD, c) {
        if (!startD || !stopD) {
            alert("请输入起始时间和终止时间！");
            return;
        }
        $.ajax({
            type: "get",
            url: "/channelanalysis/getchanneldetaildata",
            data: {
                startDate: startD,
                endDate: stopD,
                code: c
            },
            success: function(res) {
                if (res != null) {
                    if (res.ret == 200) {
                        data_name = [];
                        data_data1 = [];
                        var data = res.msg;
                        var user = '';
                        switch (c) {
                            case 1:
                                $.each(data, function(index, value) {
                                    data_name.push(value.Name);
                                    data_data1.push(value.RegisteredUsersCount); 
                                });
                                user = '注册用户';
                            break;
                            case 2:
                                $.each(data, function(index, value) {
                                    data_name.push(value.Name);
                                    data_data1.push(value.ActivatedUsersCount);
                                });
                                user = '激活用户';
                            break;
                            case 3:
                                $.each(data, function(index, value) {
                                    data_name.push(value.Name);
                                    data_data1.push(value.Rac.toFixed(2));   //四舍五入保留2位小数点
                                });
                                user = '注册-激活转化率';
                            break;
                            case 4:
                                $.each(data, function(index, value) {
                                    data_name.push(value.Name);
                                    data_data1.push(value.Crpc.toFixed(2));
                                });
                                user = '人均注册平台数';
                            break;
                            // case 5:
                            //     $.each(data, function(index, value) {
                            //         data_name.push(value.Name);
                            //         data_data1.push(value.Consume_money);
                            //     });
                            //     drawBar(data_name, data_data1, "消耗");
                            //     break;
                            // case 6:
                            //     $.each(data, function(index, value) {
                            //         data_name.push(value.Name);
                            //         data_data1.push(value.Crpc.toFixed(2));

                            //     });
                            //     drawBar(data_name, data_data1, "人均注册平台数");
                            //     break;
                            // case 7:
                            //     $.each(data, function(index, value) {
                            //         data_name.push(value.Name);
                            //         data_data1.push(value.Cci.toFixed(2));
                            //     });
                            //     drawBar(data_name, data_data1, "人均创造收益数");
                            //     break;
                        }
                        drawBar(data_name, data_data1, user);
                    }
                } else {
                    alert('错误！');
                }
            },
            error: function(err) {
                console.log(err.msg);
            }
        });
    }


    //柱状图
    function drawBar(a, b, type) {
        var bar = echarts.init(document.getElementById("bar"));
        bar.title = '折柱混合';
        option = {
            color: ['#3398DB'],
            tooltip: {
                trigger: 'axis',
                axisPointer: { // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            toolbox: {
                show: true,
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    dataView: {
                        readOnly: false
                    },
                    magicType: {
                        type: ['line', 'bar']
                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
            dataZoom: [{
                type: 'slider',
                show: true,
                xAxisIndex: [0],
                start: 10,
                end: 100,
                filterMode: 'filter'
            }],
            grid: {
                height: 450,
                left: '0.2%',
                right: '2%',
                containLabel: true
            },
            xAxis: [{
                type: 'category',
                data: a,
                axisTick: {
                    alignWithLabel: true
                }
            }],
            yAxis: [{
                type: 'value',

            }],
            series: [{
                name: type,
                type: 'bar',
                barWidth: '40%',
                data: b
            }]
        };
        bar.setOption(option);
    }




    //平台数据明细

    $('#startDate2').val(prevDate);
    $('#endDate2').val(currentDate);

    var code2 = 1;
    var startDate2 = prevDate;
    var endDate2 = currentDate;
    var productName = '';
    var productId = 0;
    var channel_data = []; //数据数组
    var channel_data1 = []; //数据数组
    var time_date = []; //时间数组


    //时间改变赋值
    $('#startDate2').on('blur', function() {
        startDate2 = $(this).val();
    });

    $('#endDate2').on('blur', function() {
        endDate2 = $(this).val();
    });


    //代理产品模糊查询
    $('#product_name').off().on('keyup', function(e){
        productName = $('#product_name').val();
        var html = '';
        var length = $('.xl li').length;
        //当按了下键的时候
        if(e.keyCode == 40){
            if(this.index == undefined || this.index >= length - 1){
                this.index = 0;
            }else{
                this.index ++;
            }
            $('.xl li').css('background','#fff').css('color','#666');
            $('.xl li').eq(this.index).css('background','#ccc').css('color','maroon');
            $('#product_name').val($('.xl li').eq(this.index).text());
            return;
        }
        //当按了上键的时候
        if(e.keyCode == 38){
            if(this.index == undefined || this.index <= 0){
                this.index = length - 1;
            }else{
                this.index --;
            }
            $('.xl li').css('background','#fff').css('color','#666');
            $('.xl li').eq(this.index).css('background','#ccc').css('color','maroon');
            $('#product_name').val($('.xl li').eq(this.index).text());
            return;
        }
        //当按了回车键的时候
        if(e.keyCode == 13){
            this.index = undefined;    //初始化
            productName = $('#product_name').val();
            postData1(productName, startDate2, endDate2, code2);
            $('.xl').empty().hide();
            return;
        }

        if (productName.length <= 0) {
            $('.xl').empty().hide();
            return;
        }
        //模糊查询产品id和name
        $.ajax({
            url: "/channelanalysis/getOutChannelProducts",
            type: 'get',
            data: {
                name: productName
            },
            success: function (res) {
                if (res.ret == 200) {
                    //将数据显示到下拉框
                    var data = res.outPutSource;
                    if (data) {
                        $.each(data, function (index, value) {
                            html += '<li>' + value + '</li>';
                        });
                        $('.xl').empty().hide();
                        $('.xl').append(html).show();
                        //点击下拉框条目
                        $('.xl li').on('click', function () {
                            $('#product_name').val($(this).text());
                            $('.xl').empty().hide();
                            productName = $('#product_name').val();
                            postData1(productName, startDate2, endDate2, code2);
                        });
                    }else{
                        $('.xl').empty().hide();
                    }
                }else{
                    $('.xl').empty().hide();
                }
            }
        });
        $('body').on('click', function () {
            $('.xl').hide();
        });
    });



    
    //默认加载数据
    productName = {{.productsName}};
    productId = {{.productsId}};
    postData1(productName, startDate2, endDate2, code2);


    

    //平台数据明细点击Tab切换
    $("#pass_rate li").off().on("click", function() {
        $(this).addClass('state').siblings().removeClass('state');
        code2 = $(this).index() + 1;
        postData1(productName, startDate2, endDate2, code2);
    });


    //起始，终止时间段数据获取
    $("#timeConfirm2").off().on("click", function() {
        postData1(productName, startDate2, endDate2, code2);
    });


    //AJAX数据请求函数(各平台数据对比)
    function postData1(pName, startD, stopD, c) {
        if (!startD || !stopD) {
            alert("请输入起始时间和终止时间！");
            return;
        }
        $.ajax({
            type: "get",
            url: "/channelanalysis/getchanneldata",
            data: {
                name: pName,
                startDate: startD,
                endDate: stopD,
                code: c

            },
            success: function(res) {
                channel_data = [];
                channel_data1 = []; 
                time_date = [];
                if (res != null) {
                    if(res.ret == 200 && res.flag == 0){
                        alert('输入的渠道名称不存在，请重新输入！');
                        var url = window.location.href;
                        getpage(url);
                        return;
                    }
                    if (res.ret == 200 && res.flag == 1) {
                        var data = res.msg;
                        var user = '';
                        switch (c) {
                            case 1:
                                $.each(data, function(index, value) {
                                    time_date.push(formatDate(value.Date));
                                    channel_data.push(value.RegisteredUsersCount);
                                });
                                user = '注册用户';
                            break;
                            case 2:
                                $.each(data, function(index, value) {
                                    time_date.push(formatDate(value.Date));
                                    channel_data.push(value.ActivatedUsersCount);
                                });
                                user = '激活用户';
                            break;
                            case 3:
                                $.each(data, function(index, value) {
                                    time_date.push(formatDate(value.Date));
                                    channel_data.push(value.Rac.toFixed(2));
                                });
                                user = '注册到激活转化';
                            break;
                            // case 4:
                            //     $.each(data, function(index, value) {
                            //         time_date.push(formatDate(value.Date));
                            //         channel_data.push(value.Consume_money);
                            //         channel_data1.push(value.Income_money);
                            //     });
                            //     drawCharts1(time_date, channel_data, channel_data1);
                            //     break;
                            case 4:
                                $.each(data, function(index, value) {
                                    time_date.push(formatDate(value.Date));
                                    channel_data.push(value.Hrc.toFixed(2));
                                });
                                user = '点击-注册转化率';
                            break;
                            case 5:
                                $.each(data, function(index, value) {
                                    time_date.push(formatDate(value.Date));
                                    channel_data.push(value.Crpc.toFixed(2));

                                });
                                user = '人均注册平台数';
                            break;
                            // case 7:
                            //     $.each(data, function(index, value) {
                            //         time_date.push(formatDate(value.Date));
                            //         channel_data.push(value.Cci.toFixed(2));

                            //     });
                            //     drawCharts(time_date, channel_data, "人均创造收益数");
                            //     break;
                        }
                        drawCharts(time_date, channel_data, user);
                    }
                }
            },
            error: function(err) {
                console.log(err.msg);
            }
        });
    }



    //格式化时间
    function formatDate(dateTime) {
        var dd = new Date(dateTime);
        var y = dd.getFullYear();
        var m = (dd.getMonth() + 1) < 10 ? "0" + (dd.getMonth() + 1) : (dd.getMonth() + 1); //获取当前月份的日期，不足10补0
        var d = dd.getDate() < 10 ? "0" + dd.getDate() : dd.getDate(); //获取当前几号，不足10补0
        return y + "-" + m + "-" + d;
    }

    //折线图
    function drawCharts(a, b, c) {
        var line = echarts.init(document.getElementById("line"));
        line.title = '折柱混合';
        var option = {
            title: {
                text: '',
                subtext: ''
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                }
            },
            dataZoom: [{
                type: 'slider',
                show: true,
                xAxisIndex: [0],
                start: 66,
                end: 100,
                filterMode: 'filter'
            }],
            grid: {
                height: 450,
                left: '1%',
                right: '2%',
                containLabel: true
            },
            legend: {
                data: ['', '']
            },
            toolbox: {
                show: true,
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    dataView: {
                        readOnly: false
                    },
                    magicType: {
                        type: ['line', 'bar']
                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: a
            },
            yAxis: {
                type: 'value',
                name: c,
                axisLabel: {
                    formatter: '{value}'
                }
            },
            series: [{
                name: c,
                type: 'line',
                data: b,
                itemStyle: {
                    normal: {
                        color: '#85BCCF',
                        lineStyle: {
                            color: '#85BCCF'
                        }
                    }
                },
            }]
        };
        line.setOption(option);
    }


    //折线图堆叠
    function drawCharts1(a, b, c) {
        var line = echarts.init(document.getElementById("line"));
        line.title = '折线图堆叠';
        var option = {
            title: {
                text: ''
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['消耗', '收益']
            },
            grid: {
                height: 450,
                left: '1%',
                right: '2%',
                containLabel: true
            },
            toolbox: {
                show: true,
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    dataView: {
                        readOnly: false
                    },
                    magicType: {
                        type: ['line', 'bar']
                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
            dataZoom: [{
                type: 'slider',
                show: true,
                xAxisIndex: [0],
                start: 66,
                end: 100,
                filterMode: 'filter'
            }],
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: a
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                name: '消耗',
                type: 'line',
                stack: '总量',
                data: b
            }, {
                name: '收益',
                type: 'line',
                stack: '总量',
                data: c
            }]
        };

        line.setOption(option);
    }
</script>



























