<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="lock">
    <meta name="keywords" content="现金贷">
    <meta name="description" content="现金贷">
    <link href="../static/css/index.css" rel="stylesheet">
    <title>微融</title>
</head>
<body  class="sticky-header">

    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
            主页
                <!-- <div class="panel">
                    <div class="panel-body">
                        <h2 class="panel-title">今日任务单</h2>
                        <div class="index_list">
                            <a href="#" class="list_span"><span class="sup_span">{{.needApproveCount}}</span><span class="sub_span">待审核</span></a><a href="#" class="list_span"><span class="sup_span">{{.allConfirmLoanMoney}}</span><span class="sub_span">待放款(元)</span></a>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <h2 class="panel-title">今日数据</h2>
                        <div class="index_list">
                            <div class="list_span"><span class="sup_span">{{.todayAddUserCount}}</span><span class="sub_span">新增用户</span></div>
                            <div class="list_span"><span class="sup_span">{{.toDayRequestCount}}</span><span class="sub_span">今日申请</span></div>
                            <div class="list_span"><span class="sup_span">{{.curDateApprovalCount}}</span><span class="sub_span">今日审核</span></div>
                            <div class="list_span"><span class="sup_span">{{.curDateTradeMoney}}</span><span class="sub_span">今日放款(元)</span></div>
                            <div class="list_span"><span class="sup_span">{{.toDayRepayment}}</span><span class="sub_span">今日还款(元)</span></div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

</body>
</html>