<style>
    #gjj td{
        width: 25%;
    }
</style>

<div class="panel">
    <div class="panel-heading" style="background: #DFF1D9;">基本信息<span style="float:right; width:200px">最后更新时间:{{.createTime}}</span></div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover table-condensed" id="gjj">
            <tbody>
                <tr>
                    <td>
                        <span>姓名：</span>
                        <span>{{.fundinfo.RealName}}</span>
                    </td>
                    <td>
                        <span>性别：</span>
                        <span>{{.fundinfo.Gender}}</span>
                    </td>
                    <td>
                        <span>出生年月：</span>
                        <span>{{.fundinfo.Birthday}}</span>
                    </td>
                    <td>
                        <span>手机号：</span>
                        <span>{{.fundinfo.Mobile}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>邮箱：</span>
                        <span>{{.fundinfo.Email}}</span>
                    </td>
                    <td>
                        <span>客户号：</span>
                        <span>{{.fundinfo.CustomerNumber}}</span>
                    </td>
                    <td>
                        <span>公积金账号：</span>
                        <span>{{.fundinfo.GjjNumber}}</span>
                    </td>
                    <td>
                        <span>账号余额：</span>
                        <span>{{.fundinfo.Balance}}</span>
                    </td>
                </tr>
                    <td>
                        <span>公积金余额：</span>
                        <span>{{.fundinfo.FundBalance}}</span>
                    </td>
                    <td>
                        <span>补贴公积金账户余额：</span>
                        <span>{{.fundinfo.SubsidyBalance}}</span>
                    </td>
                    <td>
                        <span>补贴月缴存：</span>
                        <span>{{.fundinfo.SubsidyIncome}}</span>
                    </td>
                    <td>
                        <span>缴存状态：</span>
                        <span>{{.fundinfo.PayStatus}}</span>
                    </td>
                </tr>
                </tr>
                    <td>
                        <span>证件类型：</span>
                        <span>{{.fundinfo.CardType}}</span>
                    </td>
                    <td>
                        <span>证件号：</span>
                        <span>{{.fundinfo.IdCard}}</span>
                    </td>
                    <td>
                        <span>通讯地址：</span>
                        <span>{{.fundinfo.HomeAddress}}</span>
                    </td>
                    <td>
                        <span>企业账户号码：</span>
                        <span>{{.fundinfo.CorporationNumber}}</span>
                    </td>
                </tr>
                </tr>
                    <td>
                        <span>当前缴存企业名称：</span>
                        <span>{{.fundinfo.CorporationName}}</span>
                    </td>
                    <td>
                        <span>企业月度缴存：</span>
                        <span>{{.fundinfo.MonthlyCorporationIncome}}</span>
                    </td>
                    <td>
                        <span>个人月度缴存：</span>
                        <span>{{.fundinfo.MonthlyCustomerIncome}}</span>
                    </td>
                    <td>
                        <span>月度总缴存：</span>
                        <span>{{.fundinfo.MonthlyTotalIncome}}</span>
                    </td>
                </tr>
                </tr>
                    <td>
                        <span>企业缴存比例：</span>
                        <span>{{.fundinfo.CorporationRatio}}</span>
                    </td>
                    <td>
                        <span>个人缴存比例：</span>
                        <span>{{.fundinfo.CustomerRatio}}</span>
                    </td>
                    <td>
                        <span>补贴公积金公司缴存比例：</span>
                        <span>{{.fundinfo.SubsidyCorporationRatio}}</span>
                    </td>
                    <td>
                        <span>补贴公积金个人缴存比例：</span>
                        <span>{{.fundinfo.SubsidyCustomerRatio}}</span>
                    </td>
                </tr>
                </tr>
                    <td>
                        <span>缴存基数：</span>
                        <span>{{.fundinfo.BaseNumber}}</span>
                    </td>
                    <td>
                        <span>最新缴存日期：</span>
                        <span>{{.fundinfo.LastPayDate}}</span>
                    </td>
                    <td colspan="2">
                        <span>开户日期：</span>
                        <span>{{.fundinfo.BeginDate}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>