
<style>
    form {
        overflow: hidden;
    }

    .form-group {
        margin: 30px 0;
    }

    .form-group label {
        color: #333;
    }
</style>
<form class="form-horizontal" action="" method="get">
    <div class="panel">
        <div class="panel-heading">安卓口子信息</div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">口子名称</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="请输入口子名称" name="a_cut_name" id="a_cut_name" value="{{.hole.AndroidName}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">logo链接</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="请输入logo链接" name="a_logo_link" id="a_logo_link" value="{{.hole.AndroidLogo}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">下载链接</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="请输入下载链接" name="a_download_link" id="a_download_link" value="{{.hole.AndroidUrl}}">
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">苹果口子信息</div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">口子名称</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="请输入口子名称" name="p_cut_name" id="p_cut_name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">logo链接</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="请输入logo链接" name="p_logo_link" id="p_logo_link">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">下载链接</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="请输入下载链接" name="p_download_link" id="p_download_link">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-7">
            <button type="button" class="btn btn-info" id="save">保存</button>
        </div>
    </div>

</form>


<script type="text/javascript">

    //保存
    $('#save').off('click').on('click', function () {
        var a_cut_name = $('#a_cut_name').val();
        var a_logo_link = $('#a_logo_link').val();
        var a_download_link = $('#a_download_link').val();
        var p_cut_name = $('#p_cut_name').val();
        var p_logo_link = $('#p_logo_link').val();
        var p_download_link = $('#p_download_link').val();
        $.ajax({
            url: '../hole/savehole',
            type: 'get',
            data: {
                AndroidLogo: a_logo_link,
                IosLogo: p_logo_link,
                AndroidName: a_cut_name,
                IosName: p_cut_name,
                AndroidUrl: a_download_link,
                IosUrl: p_download_link
            },
            success: function (res) {
                if (res.ret == 200) {
                    alert(res.msg);
                    getpage(window.sessionStorage.URl);   //跳到上一层历史记录
                }else{
                    alert(res.err);
                    getpage(window.sessionStorage.URl);   //跳到上一层历史记录
                }
            }
        });

    });


</script>