<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>消息推送</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/titatoggle-dist-min.css">
    <style>

    </style>
</head>
<body class="sticky-header">
    <div class="panel">
        <div class="panel-heading">短信沉默用户激活</div>
        <div class="panel-body" style="padding-left: 5%;">
            <form action="" id="" method="get" class="form-horizontal">
                <div class="form-group">
                    <select class="form-control" style="width: 200px;">
                        <option value="0">7天未登录用户</option>
                        <option value="1">14天未登录用户</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="content">短信文本</label>
                    <textarea id="content" class="form-control" style="width: 500px; height: 150px;"></textarea>
                </div>
                <button type="button" class="btn btn-info">发送</button>
            </form>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <p style="display: inline-block; margin-right: 20px; font-size: 14px;">推荐弹窗开关</p>
            <div class="checkbox checkbox-slider--b-flat checkbox-slider-md" style="display: inline-block;">
                <label>
                    <input type="checkbox" checked><span></span>
                </label>
            </div>
        </div>
    </div>
</body>

</html>


<script type="text/javascript">


</script>






















































































